.activity {
    width: 300px;
    height: 435px;

    border: 1px solid gray;

    padding: 10px;
    position: relative;
    margin-bottom: 50px;
}

.activity img {
    width: 280px;
    height: 200px;
    border-radius: 10px;
}

.add-btn {


    margin-right: 15px;
    margin-left: -10px;

}

.add-btn button {

    position: absolute;
    width: 100%;
    padding: 15px;

    border: none;

    background-color: blue;

}

.add-btn :hover {
    background-color: blueviolet;
}